@page
@model ecomerce.Pages._404PageModel
@{
    ViewData["Title"] = "404";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<body style="background: rgb(2,0,36);
background: linear-gradient(341deg, rgba(2,0,36,1) 0%, rgba(255,0,0,0.8234943635657388) 46%, rgba(0,212,255,1) 100%);">
    <div style="text-align: center;margin-top: 10%">
        <h1 style="font-size: 10rem;margin-bottom: 20px;">Oops!</h1>
        <p style="font-size: 1.5em;color: white;margin-top: 0;margin-bottom: 50px;">If you're already logged in and not Admin, don't enter the login URL and Register URL anymore :(((((</p>
        <a style="display: inline-block;padding: 10px 20px;background-color: #333;color: #fff;text-decoration: none;border-radius: 5px;" href="/">Go back to homepage</a>
    </div>
</body>